@using WeddingOrganizer.Web.Controllers
@using WeddingOrganizer.Web.HtmlHelpers
@model  IEnumerable<WeddingOrganizer.Web.Models.Guest>

@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tblGuests").dataTable({
                "bPaginate": true,
                sPaginationType: "full_numbers",
                iDisplayLength: 15,
                "bLengthChange": false
            });
        });
    </script>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('@Url.Action("Edit")').click(function() {
                InitializeDialog($("#EditDialog"));

                $("#EditDialog").dialog("open");
            });

            // Method to Initialize the Dialog Box

            function InitializeDialog($element) {
                $element.dialog({
                    autoOpen: false,
                    width: 400,
                    resizable: false,
                    draggable: false,
                    title: "Guest Operations",
                    modal: true,
                    show: 'slide',
                    closeText: 'x',
                    closeOnEscape: true,
                    open: function(event, ui) {
                        //Load the View here using controller and action
                        $element.load('../Guest/Edit');
                    },

                    close: function() {
                        $(this).dialog('close');
                    }
                });
            }
        });

    </script>
}

<h2>Wedding Guest List</h2>
<div id="EditDialog" title="Edit Guest" style="display: none;"></div>
<p>
    @Html.
</p>
<table id="tblGuests" style="width: 1400px;">
    <thead>
        <tr>
            <th style="width: 100px;"></th>
            <th style="width: 175px;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width: 100px;"># Attn.
            </th>
            <th style="width: 250px;">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>Add. 2
            </th>
            <th style="width: 150px;">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th style="width: 150px;">Home Ph.
            </th>
            <th style="width: 150px">Cell
            </th>
            <th>RSVP
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="white-space: nowrap">
                    @Html.ActionLinkUI(model => item.GuestID, "Edit", "ui-icon-pencil")
                    @Html.ActionLinkUI(model => item.GuestID, "Details", "ui-icon-note")
                    @Html.ActionLinkUI(model => item.GuestID, "Delete", "ui-icon-close")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberofPeople)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CellPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RSVPRecieved)
                </td>
            </tr>
        }
    </tbody>
</table>
